* {
	margin: 0;
	padding: 0;
}

body,h1,h2 {
	font-family: "Raleway", sans-serif;
}

body, html {
	max-height: 100%;
	max-width: 100%;
}

/* body {
	overflow-x: hidden;
	line-height: 1.8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/CM_071.jpg");
} */


/* header{
	height: 100%;
} */

/* .bgimg {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/CM_071.jpg");
	min-height: 100%;
	background-position: center;
	background-size: cover;
} */



/*.caption {
	width: 100%; 
	max-width: 100%;
	position: absolute;
	top: 65%;
	z-index: 1:
	color: white;
}*/

.content {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/CM_071.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:100vh;
	width:100vw;
}

/* .content {
	top: 45.5%;
	left: 23%;
	position: absolute;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	-ms-transform: translate(-50%, -50%);
} */

hr {
	width: 50%;
	margin: 30px auto;
	border: 1.5px solid #fff;
}

p {
		font-size: 20px;
		margin: 30px;
	
}

h1 {
	font-size: 60px;
	letter-spacing: 15px;
	font-stretch: ultra-condensed;
	font-family: 'Dancing Script', cursive;
}

#countdown {
	
	font-size: 35px;
}

/* @media (min-width: 601px) {
	
	body {
		max-width: auto;
		max-height: auto;
	};
} */